@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: #fff;
}

.logo {
  top: 2%;
  left: 3%;
  width: 6vw;
  position: fixed;
  z-index: 3;
  transition: 1s;
}

.main_button {
  z-index: 5;
  position: fixed;
  font-size: 1.1vw;
  font-family: 'GmarketSansBold';
  color: #494949;
  text-decoration: none;
  top: 5%;
  transition: 0.3s;
}

.main_button:nth-child(1) {
  left: 60%;
}

.main_button:nth-child(2) {
  left: 75%;
}

.main_button:nth-child(3) {
  left: 90%;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow: auto;
}

.content {
  width: 100%;
  height: 100vh;
  background-size: cover;
  scroll-snap-align: start;
}

/* .modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);

  width: 100%;
  height: 100vh;

  display: none;

  z-index: 3;
}

.modal.show {
  display: block;
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 20rem;
  height: 30rem;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%)
} */

/* modal */

.modal,
.modal2 {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal_overlay,
.modal_overlay2 {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -99;
}

.modal-content,
.modal-content2 {
  position: relative;
  background-color: white;
  text-align: center;
  width: 800px;
  overflow: hidden;
}

.modal-section,
.modal-section2 {
  display: flex;
  width: 800px;
  height: 600px;
}

.modal-img1,
.modal-img2 {
  width: 800px;
  object-fit: contain;
}

.hidden {
  display: none;
}

.next-btn,
.next-btn2,
.prev-btn,
.prev-btn2 {
  z-index: 2;
  background-color: transparent;
  border: 0;
  font-size: 6rem;
  margin: 5rem;
  color: white;
  transition: 0.3s;
}

.next-btn:hover,
.next-btn2:hover,
.prev-btn:hover,
.prev-btn2:hover {
  color: #d9675c;
}


/* modal */

.project_header {
  display: inline;
  position: relative;
  text-align: left;
  font-family: 'GmarketSansBold';
  font-size: 4rem;
  top: 12%;
  left: 5%;
  margin: 0;
}

.personal_pro {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pro_box {
  transition: .3s;
  margin-top: 3rem;
  width: 30rem;
  position: relative;
  box-shadow: #494949;
}

.pro_box:nth-child(1) {
  margin-left: 5rem;
  border: black solid 0.1vw;
}

.pro_box:nth-child(2) {
  margin-right: 5rem;
  box-shadow: 0.5vw;
}

.pro_box:hover {
  /* box-shadow: 0 0 15px rgba(33, 33, 33, .2); */
  box-shadow: 0 0 11px black;
}

.refit_pro {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: -1;
}

.refit_logo {
  width: 17rem;
  margin-left: 9vw;
  margin-top: 5vh;
}

.refit_textbox {
  margin-right: 5vw;
  width: 40vw;
}

.refit_header {
  font-family: 'GmarketSansBold';
  font-size: 3rem;
}

.refit_text {
  font-family: 'GmarketSansLight';
  font-size: 1.5rem;
}