@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: #494949;
}

.logo {
  top: 2%;
  left: 3%;
  width: 6vw;
  position: fixed;
  z-index: 3;
  transition: 1s;
}

.main_button {
  z-index: 5;
  position: fixed;
  font-size: 1.1vw;
  font-family: 'GmarketSansBold';
  color: #d8dede;
  text-decoration: none;
  top: 5%;
  transition: 0.3s;
}

.main_button:nth-child(1) {
  left: 60%;
}

.main_button:nth-child(2) {
  left: 75%;
}

.main_button:nth-child(3) {
  left: 90%;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.about_me {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle_image {
  width: 45vw;
  left: 3%;
  position: absolute;
}

.circle_image:nth-child(2) {
  animation-name: sunRise;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes sunRise {
  0% {
    margin: 0;
  }

  25% {
    padding-bottom: 2vw;
    margin-left: -1.5vw;
  }

  50% {
    padding-bottom: 6vw;
    margin-left: -3vw;
  }

  75% {
    padding-bottom: 8vw;
    margin-left: -4.5vw;
  }

  100% {
    padding-bottom: 10vw;
    margin-left: -6vw;
  }
}

.intro_position {
  position: absolute;
  right: 9%;
}

.intro_text {
  font-family: 'GmarketSansBold';
  font-size: 5vw;
}