body {
  margin: 0;
  padding: 0;
}

.banner {

  background-image: url(https://images.unsplash.com/photo-1459278558918-f94278c0f022?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2946&q=80);
  background-size: cover;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text-bold {
  color: #d9675c;
  font-family: 'GmarketSansBold';
  font-size: 150px;
  margin: 0;
}

.banner-text-light {
  color: white;
  font-family: 'GmarketSansLight';
  text-align: center;
}

h1 {
  font-size: 100px;
}


.greenBorder {
  border-color: seagreen;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
}


@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.buttonSpace {
  margin: 10px 30px 50px 50px;
  padding: 10px;

}

.scroll_down {
  height: 20px;
  width: 40px;
  background-color: #d9675c;
  animation-name: arrow_down;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
  /* animation-timing-function: ; */
  /* animation-fill-mode: forwards; */
}

@keyframes arrow_down {
  from {
    margin-top: 0;
  }

  to {
    margin-top: 30 px;
  }
}